@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0a1b39;
  --primary: #3f8ef3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-grey-dark: #6c7688;
  --color-grey: #e7e8eb;
  --color-placeholder: #9da4b0;
  --color-primary: var(--primary);
  --color-danger: #ef1e1e;
  --font-sans: var(--font-outfit);
  /* --font-ut: var(--font-utendo); */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  @apply text-sm bg-background font-sans;
}

@utility flex-center {
  @apply flex items-center justify-center;
}
@utility col-center {
  @apply flex flex-col items-center justify-center;
}
@utility flex-between {
  @apply flex items-center justify-between;
}
