@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0A1B39;
  
  --primary: #3F8EF3;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-grey-dark: #6C7688;
  --color-grey: #E7E8EB;
  --color-placeholder: #9DA4B0;
  --color-primary: var(--primary);
  --color-danger: #EF1E1E;
  --font-sans: var(--font-outfit);
  --font-ut: var(--font-utendo);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
@apply text-sm bg-background font-sans
}

@utility flex-center{
@apply flex items-center justify-center
}
@utility col-center{
@apply flex flex-col items-center justify-center
}
@utility flex-between{
@apply flex items-center justify-between
}


