@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0a1b39;
  --primary: #3f8ef3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-grey-dark: #6c7688;
  --color-grey: #e7e8eb;
  --color-placeholder: #9da4b0;
  --color-primary: var(--primary);
  --color-dark: #1B2128;
  --color-danger: #ef1e1e;
  --font-sans: var(--font-outfit);
  --font-ut: var(--font-utendo);
  --shadow-card-shadow: 8px 8px 20px 0px rgba(100, 130, 158, 0.2);
--color-accent: #FF8E26;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  @apply text-sm bg-[--background] font-sans;
}

@utility flex-center {
  @apply flex items-center justify-center;
}
@utility flex-between {
  @apply flex items-center justify-between;
}


@utility col-center {
  @apply flex flex-col items-center justify-center;
}
@utility col-start {
  @apply flex flex-col items-center justify-start;
}

@utility col-between {
  @apply flex flex-col items-center justify-between;
}

.section-container {
  @apply w-full min-h-full col-start
}

.icon-btn {
  @apply p-2 relative hover:shadow-2xl ease-in transition-all duration-200 rounded-sm cursor-pointer ring ring-grey flex-center
}

@utility animate-shimmer {
  background: linear-gradient(90deg, #f6f7f8 0%, #edeef1 50%, #f6f7f8 100%);
  background-size: 200% 100%;
  animation: shimmer 2s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}